@charset "utf-8";

#wrap{
    width: 100%;
    height: 100%;
}
.mouse{

    z-index: 600;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    animation: scoll 1s infinite ease-in-out;
}

@keyframes scoll{
    0%{
        bottom: 2%;
    }
    50%{
        bottom: 4%;
    }
    100%{
        bottom: 2%;
    }
}


#header{
    width: 100%;
    height: 117px;
    background-color: rgba(240, 248, 255, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}

.head_inner{
    /* background-color: aquamarine; */
    width: 1300px;
    height: 117px;
    padding: 0px 10px;
    margin: 0 auto;
    color: #333;
}

.head_1{
    float: left;
    margin: 0 10px;
    line-height: 117px;
}
.top_logo{}

.top_logo > a{}

.top_logo > a > img{
    width: 94px;
    height: 106px;
    /* background-color: beige; */
}

.head_inner h1{}

.head_inner .nav{
    margin-left: 200px;
}

.head_inner .nav .menu{}

.head_inner .nav .menu li{
    display: inline-block;
    margin-left: 20px;
}

.head_inner .nav .menu li a{}

.top_logo img{
    width: 94px;
    height: 106px;
}

.sns_logo{
    display: inline-block;
    line-height: 117px;
    margin-left: 20px;

}
.sns_logo a{
    margin-left: 10px;
}


.nav{}


.menu{}
.menu li{}
.menu li a:hover{
    color: rgb(37, 185, 243);
    font-size: 18px;
}




#main{
    background-color: beige;
    width: 100%;
    height: 963px;
    background: url("../images/bg_1.gif") no-repeat center center / cover;
    
}




#director{
    /* background-color: lightcoral; */
    width: 100%;
    height: 963px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    background: url(../images/bg_2.png) no-repeat center center / cover;
    position: relative;
}

.director div{
    
}

.bloomig_intro{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin: 5px auto;
    /* background-color: antiquewhite; */
}

.bloomig_intro > p {
    font-size: 18px;
}

.doctor{
    text-align: center;
    /* background-color: aliceblue; */
    height: 65%;
    width: 18%;
    margin-left: 300px;
    position: absolute;
    top: 20%;
}

.doctor > img{
    width: 100%;
    height:100%;
}
.doctor > h2{
    margin-top: 25px;
}


.messaege{
    background-color: rgba(255, 255, 255, 0.205);
    width: 663px;
    height: 456px;
    margin: 0 0 0 900px;
    padding: 50px;
    box-shadow: 2px 1px 5px gray ;
    border-radius: 30px;
}
.messaege > h1{
    margin-bottom: 30px;
    font-size: 30px;
}
.messaege > p{
    line-height: 1.7;
    text-align: justify;
    
}
.messaege > p > span{
    font-size: 18px;
}






#skin_clinic{
    /* background-color: lightblue; */
    width: 100%;
    height: 963px;
    background: url(../images/bg_3.png) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.skin_intro{
    width: 100%;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    /* background-color: aqua; */
}


.skin_intro > p{
    margin-top: 20px;
    font-size: 18px;
}


.skin_img{
}

.skin_inner_img{
    text-align: center;
    /* border: 1px solid black; */
    height: 700px;
}

.skin_inner_img > li{
    display: inline-block;
    /* background-color: aliceblue; */
    width: 306px;
    letter-spacing: 2;
    margin: 50px 100px 0 ;
}






.skin_inner_img li img{
    width: 308px;
    height: 350px;
}

.skin_inner_img li p{
    width: 306px;
    text-align: justify;
    padding: 10px;
    line-height: 1.7;
    height: 80px;
}
.p_2{
    width: 306px;
    margin-top: 50px;
}
.p_2 a{
    display: block;
    margin-top: 30px;
    /* background-color: aqua; */
}

.skin_inner_img li p span{
    margin-left: 30%;
    /* background-color: aliceblue; */
}


.skin_inner_img ul li:hover{
    /* font-weight: bold; */
    cursor: pointer;
    box-shadow: 2px 2px 5 blueviolet;
    
}

.skin_inner_img li a{
    display: block;
}

.p_2:hover{
    text-decoration: underline;
    color: steelblue;
}








/* <!-- signature 영역 --> */

#signature{
    background-color: lightgreen;
    width: 100%;
    height: 963px;
    background: url(../images/bg_4.png) no-repeat center center / cover;
}


.signature_intro{
    width: 100%;
        padding-top: 50px;
        font-size: 30px;
        text-align: center;
        margin-top: 5px;
}

.signature_img{
    text-align: center;
    margin: 0 250px;
    width: 1440px;
    margin-top: 50px;
    /* background-color: blueviolet; */

}

.signature_img > ul{
    display: flex;
    
}

.signature_img > ul > li{
    /* background-color: burlywood; */
    margin: 100px 25px 0;
    position: relative;
    width: 310px;
    overflow: hidden;
}

.signature_img > ul > li > a{
    display: block;
}

.inner{
    width: 310px;
    height: 430px;
    position: absolute;
    top: 85%;
    left: 0;
    background-color: #3984ca6b;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    color: white;
    transition: all 0.6s ease-in-out;
}
.inner li h3{
    text-align: center;
    margin-bottom: 50px;
}
.inner li p{
    text-align: justify;
    line-height: 2;
}
.inner li{}

.inner > li > a{
    display: block;
    text-align: center;
    width: 100%
}

.inner li p a:hover{
    font-weight: 550;
    text-decoration: underline;
}



.p_inner{
    margin: 110px 75px 0;
}

.p_inner_1{
    margin: 80px 75px 0;
}



.signature_img ul li a img{
    width: 310px;
    height: 430px;
    border-radius: 20px 20px 0 0;
}

.signature_img > ul> li:hover .inner{
    position: absolute;
    top: 0;
    left: 0;    
}









/* <!-- map 영역 --> */

#map{
    background-color: lightpink;
    width: 100%;
    height: 963px;
    background: url(../images/bg_5.jpg) no-repeat center center / cover;
}



.map_intro{
    width: 100%;
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
}

.map_1{
    width: 1500px;
    height: 650px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.39);
    display: flex;
}

.map{
    width: 750px;
    height: 400px;
    margin: 125px 100px 0;
    border: 0;
}

.map_comment{
    margin-top: 120px;
    line-height: 3;
}

.VIEW{
    font-size: 18px;
}

.VIEW a{
    display: block;
}

.VIEW a:hover{
    font-weight: 500;
    text-decoration: underline;
}

#footer{
    width: 100%;
    height: 250px;
    background: url(../images/bg_1.jpg) no-repeat center center / cover;
    background-color: rgba(128, 185, 238, 0.74);
    padding-top: 50px;
}

.foot_up{
    color: midnightblue;
    padding-bottom: 40px;
}

.foot_up_inner{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 2;
}

.foot_up_inner h2{
    font-size: 16px;
}

.foot_down{
    background-color: rgb(59, 87, 148);
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
}



